@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="jumbotron" style="background-image:url(../../Images/ForSite/variant1.jpg); background-size: cover; height: 500px; position: relative">
        <div style="position: relative; left: 60%; right: 30%; top:-10%; bottom: 90%">
            <h1>Blog Your Life</h1>
        </div>
        <div style="position: relative; left: 60%; right: 30%; top:-10%; bottom: 90%">
            <p class="lead">Discover yourself</p>
        </div>
    </div>

<div class="row" style="position: relative">
    <div class="col-md-6" style="position: relative">
        <h2 style="text-align: center">Enter and creat an event</h2>
        <p style="text-align: center">
            If you already have an account, login and continue 
            writing about your life. 
        </p>
        <p><a class="btn btn-default" style="position: relative; right: 45%; left: 45%" href="Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-6" style="position: relative">
        <h2 style="text-align: center">Register to start blogging</h2>
        <p style="text-align: center">
            Becoming a blogger is easier than you think!
            To start your personal live-journal, 
            please, register in the system.
        </p>
        <p><a class="btn btn-default" style="position: relative; right: 45%; left: 45%" href="Account/Register">Register &raquo;</a></p>
    </div>
</div>